
<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="Home">
          <img src="./assets/Images_assets/freshcart-logo.svg" alt="">
      </a>
      <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">

          <ul class="navbar-nav ms-auto mt-2 mt-lg-0 align-items-center">
              <li class="nav-item  m-2">
                <a class="text-dark me-3 cursor-pointer" target="_blank" href="https://www.facebook.com/profile.php?id=100009405839587"><i class="fab fa-facebook"></i></a>
                <a class="text-dark me-3 cursor-pointer" target="_blank" href="https://www.instagram.com/abdalrahman_mahfouz/"><i class="fab fa-instagram"></i></a>
                <a class="text-dark me-3 cursor-pointer" target="_blank" href="https://www.linkedin.com/in/abdalrahman-e-mahfouz-646ab71a9/"><i class="fab fa-linkedin"></i></a>
                <a class="text-dark me-3 cursor-pointer" target="_blank" href="https://api.whatsapp.com/send?phone=201096437158&text=%D8%A7%D9%84%D8%B1%D8%A7%D8%A8%D8%B7%3A%0Ahttps%3A%2F%2Ffb.me%2F4K30rfJvg%0A%0A%D8%B1%D8%A3%D9%8A%D8%AA%20%D9%87%D8%B0%D8%A7%20%D8%B9%D9%84%D9%89%20%D9%81%D9%8A%D8%B3%D8%A8%D9%88%D9%83...&app=facebook&fbclid=IwAR2t8Edu8MKyXql_vx9hV0KMHuOTi08CZ1bt7OHq5aGlSwAddW6s4zzQN6I"><i class="fab fa-whatsapp"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="Register" routerLinkActive="active-link">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="Login" routerLinkActive="active-link">Login</a>
              </li>
          </ul>
      </div>
</div>
</nav>
