<!-- <footer class="bg-light text-center py-1 bottom-0 w-100 d-flex flex-column align-items-center justify-content-center">
  <div class="container">
    <h1 class="h2 text-center mt-2">Get the FreshCartApp</h1>
    <p class="text-center">We will send you a link, open it on your phone to download the app</p>
    <form>
      <div class="row d-flex justify-content-center">
        <input type="text" class="col-10 w-75 mx-4 form-control" placeholder="Email...">
        <button type="submit" class=" mt-2 col-2 main-btn mx-auto">Share App Link</button>
      </div>
    </form>
    <hr class="mt-5">
    <div class="row d-flex justify-content-center">
      <div class="partners col-sm-12 col-md-4 col-lg-3 col-xl-2 d-flex flex-column justify-content-center align-items-center">
        <b class="mx-2">Payment Partners</b>
        <div class="d-flex justify-content-center ms-5">
          <img src="./assets/Images_assets/amazon_pay.svg" class="mt-3" alt="">
          <img src="./assets/Images_assets/master.svg" alt="">
          <img src="./assets/Images_assets/visa2.svg" alt="">
          <img src="./assets/Images_assets/paypal_logo.svg" class="w-25" alt="">
        </div>
      </div>
      <div class="download d-flex justify-content-center align-items-center">
        <b class="mx-2">Get deliveries with FreshCart</b>
        <div class="d-flex justify-content-center">
          <img src="./assets/Images_assets/app-store.svg" class="w-25" alt="">
          <img src="./assets/Images_assets/google-store.svg" class="w-25" alt="">
        </div>
      </div>
    </div>
    <hr>
  </div>
</footer> -->



<footer class="bg-light text-center py-1 bottom-0 w-100 d-flex align-items-center justify-content-center ">
    <p class="m-0 p-0 ">&copy; 2024 
      <a  class=" text-decoration-none text-main">Mahfouz </a>
    </p>
</footer>

